[Unit]
Description= Wator WebRTC peerRSA  server daemon
After=syslog.target network.target auditd.service

[Service]
ExecStart=/opt/watorvapor/rtc.wator/signal/peer.rsa.server

[Install]
WantedBy=multi-user.target
